body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(104, 200, 218);
    color: blueviolet;
    align-items: center;
    padding: 0px;
    font-size: 30px;
    margin: 35px 20px 10px 20px;
    border: round;
  }
  .App {
      text-align: center;
  }

.App-logo {
    height: 100vmin;
    pointer-events: none;
}

.btn {
border-radius: 50%;
border: Round;
margin: 4px;
  padding: 11px 22px;
}
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }